*{
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FEFEFE;

}

main {
    display: block;
    flex: 1 0 auto;
}
h1 strong{
    background-color: #F0ED78;
}
.todos-projetos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    min-height: 400px;
    align-items: center;
}
.projetos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.projeto{
    height: 220px;
    width: 420px;
    padding: 20px;
    margin: 20px;
    border-radius: 3px;
}
.pj1{
    background-color: rgba(240, 96, 101, 0.8);
}
.pj2{
    /* background-color: rgba(96, 240, 134, 0.8); */
    background-color: #48B2F0;
}
.todos-projetos a{
    color: #000;
    transition: 0.4s ease-in-out;
}
.todos-projetos a:hover{
    color: #FFF;
    text-decoration: none;
    background-color: #000;
}
p{
    color: #fff;
}
footer{
    border-top: 1px solid #e2e8f0;
}

footer>div{    
    display: flex;
    justify-content: flex-end;
}

svg path{
    fill: #000;
    transition: fill 0.2s ease-in-out;
}
svg:hover path {
    fill: #abb7b7;
}