*{
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(255,232,222);
}
main {
    display: block;
    flex: 1 0 auto;
}
footer{
    border-top: 1px solid #969ca36e;
}

footer>div{    
    display: flex;
    justify-content: flex-end;
}

svg path{
    fill: #000;
    transition: fill 0.2s ease-in-out;
}
svg:hover path {
    fill: #abb7b7;
}
