body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: block;
    flex: 1 0 auto;
    background-color: #f3f1ef;
}
.global{
    text-align: center;
    padding: 10px;
}

.search-btn{
    cursor: pointer;
}

/* Gallery styles */
.book{
    display: inline-block;
    width: 180px;
    height: 180px;
    margin: 10px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.book-img{
    width: 180px;
    height: 180px;
    border: 4px solid #67809f;
    border-radius: 4px;
    object-fit: cover;
    position: absolute;
}

.book-text{
    background-color: #67809f;
    color: #FFF;
    opacity: 0.8;
    width: 174px;
    margin-left: 3px;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 10px;
}