body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: block;
    flex: 1 0 auto;
}
.nav-link:hover{
    font-weight: bold;
}
.card{
    max-height: 500px;
    margin: 5px 0;
}
.card-img-top{
    height: 130px;
    object-fit: cover;
}
.card-title{
    font-size: 16px;
    font-weight: bold;
}
.card-text{
    font-size: 12px;
}
.card-noticia>a{
    color:#000 !important;
}
.card-noticia>a:hover{
    text-decoration: none !important;
    color: #707070 !important;
}
footer p{
    font-size: 11px;
}